.ca-slider-wrapper{
  display:block;
  margin:0 auto;
  .ca-slider{
    .slick-prev, .slick-next {
      background-color: transparent;
      &:before{
        color: #000;
      }
    }
  }

  .ca-action{
    display:block;
    width:100%;
  }
  .ca-action a {
    display:inline-block;
    color:#fff;
    text-decoration:none;
    img{
      height: 100px;
      &:hover{
        color:#000;
        opacity: 0.7;
      }
    }
    &:hover{
      background:#000;
    }
    &.ca-opacity{
      img{
        color:#000;
        opacity:0.3;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .ca-slider-wrapper{
    .ca-slider{
      .slick-prev, .slick-next {
        display: none !important;
      }
    }
  }
}

// Table Content

.ca-grid {
  /*display: block;*/
  margin: 0 auto;                  
  padding-left: 0;  
  font-size: 0;  
  text-align: center;
  .ca-img-hover-effect {
    margin: 0.1em;
    background: #3085a3;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;
    z-index: auto;
    background: #000;
    &:before{
      box-shadow: 0 3px 30px rgba(0, 0, 0, 0.8);
      opacity: 0;
    }
    img{
      position: relative;
      display: block;
      opacity: 0.8;
      width: 100%;
      opacity: 1;
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: perspective(1000px) translate3d(0, 0, 0);
      transform: perspective(1000px) translate3d(0, 0, 0);
    }
    .ca-img-content-wrapper {
      color: #fff;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      z-index: 1;
      .ca-img-title {
        font-weight: 300;
        margin: 1em;
        position: absolute;
        padding: 0.25em;
        width: 100%;
        bottom:0px;
        font-size: 24px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
      }
      .ca-img-desc,.ca-short-desc{
        font-size: 16px;
        font-weight: 200;
        position: absolute;
        bottom: 0;
        margin: 0;
      }
      .ca-img-desc{
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
      }
    }
    p{
      margin-top: 1em;
      padding: 0.5em;
      font-weight: 800;
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
    }
    &:hover{
      img {
        -webkit-transform: perspective(1000px) translate3d(0, 0, 21px);
        transform: perspective(1000px) translate3d(0, 0, 21px);
      }
      .ca-img-title{
        &:before{
          opacity: 0;
        }
      }
      p{
        opacity: 1;
      }
      .ca-img-title {
        // background: #f1f1f1;
        transition: transform 0.35s;
        transform: translateY(-2.5em);
      }
    }
  }
}

.ca-img-hover-effect:hover:before {
  opacity: 1;
}

.ca-grid .ca-img-hover-effect,
.ca-img-content-wrapper,
img {
  z-index: 0;
}

.ca-content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  z-index: 9999;
}

.ca-content:hover .ca-content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.ca-content-details .ca-short-desc{
  color: #fff;
  font-size: 0.8em;
  background:transparent;
}

.ca-fadeIn-left{
  left: 20%;
  top:20%;
}

.ca-content:hover .ca-content-details.ca-fadeIn-left{
  top: 20%;
  left: 50%;
}

.ca-img-hover-effect:hover .ca-img-content-wrapper{
  background: rgba(0,0,0,0.7);
}


.ca-grid .ca-img-hover-effect .ca-img-content-wrapper::before,
.ca-grid .ca-img-hover-effect .ca-img-content-wrapper::after {
  pointer-events: none;
}

.ca-grid .ca-img-hover-effect .ca-img-content-wrapper,
.ca-grid .ca-img-hover-effect .ca-img-content-wrapper > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ca-grid .ca-img-hover-effect .ca-img-content-wrapper > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.ca-img-hover-effect .ca-img-title,
.ca-img-hover-effect p {
  // background: #f1f1f1;
  // color: #2d434e;
}